@model TechXpress.Data.Models.Category
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details for @Model.Name</h2>

<div>
    <h4>Name:</h4> <p>@Model.Name</p>
    <h4>Description:</h4> <p>@Model.Description</p>
    <h4>Slug:</h4> <p>@Model.Slug</p>
    <h4>Parent Category:</h4>
    <p>@(Model.ParentCategory?.Name ?? "No Parent")</p>
    <h4>Products:</h4>
    <ul>
        @foreach (var product in Model.Products)
        {
            <li>@product.Name</li>
        }
    </ul>

    <a href="@Url.Action("Edit", "CategoryManagement", new { id = Model.Id })" class="btn btn-warning">Edit</a>
    <a href="@Url.Action("Index", "CategoryManagement")" class="btn btn-secondary">Back to List</a>
</div>
